<h1>Edit this Sea</h1>

<%= form_for @sea do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :temperature %>
  <%= f.number_field :temperature %>

  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :mood %>
  <%= f.text_field :mood %>

  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color %>

  <%= f.label :scariest_creature %>
  <%= f.text_field :scariest_creature %>

  <%= f.label :has_mermaids %>
  <%= f.check_box :has_mermaids %>

  <%=  f.submit %>

  <% end %>

</form>
<div class="text-center row" style="margin: 1em">
  <div class="col-sm-1">
    <a href="/seas/<%=@sea.id%>"<button class="btn btn-info" style="margin: 0 auto">Back</button></a>
  </div>
  <div class="col-sm-1">
  <a class="btn-info" href="/seas"><button class="btn btn-info" style="margin: 0 auto">All Seas</button></a>
  </div>
  <div class="col-sm-9">
  </div>
  <div class="col-sm-1">
<%#    <%= button_to "Delete", {:controller => :sea, :action => 'destroy', :id => @sea.id }, :method => :delete %>
  <form action="/seas/<%=@sea.id%>" method="post" style="margin: 0 auto">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token">
      <input class="btn btn-danger" type="submit" value="Delete"/>

  </form>
  </div>
</div>
</div>
